# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Vector database files
chroma_db/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Project specific
/data
/processed
.github
